{% block header %}
    <div class="container px-lg-5">
        <nav>
            <div style="float: right;"><button type="button" class="btn" onclick="adminchk()">관리자</button></div>
        </nav>
        <p>
            <span>협찬 : 협찬</span><br>
            <span>문의 : example123@email.com</span>
        </p>
    </div>
{% endblock %}
<script>
    function adminchk(){
    var r = prompt('패스워드 입력')
    if(r == '1234'){
        alert('확인되었습니다')
        location.href = "{%url 'cb_admin:main'%}"
    }
    else{
        return false
    }
}
</script>