{%extends "base.html"%}
{% load static %}
<!-- 헤더 공간 -->
{% block header%}
    {% include 'header.html'%}
    <hr>
{% endblock %}

{%block content%}
<!-- Content -->
<div class="row mt-5">
        <div class="col-sm-12 col-xl-6 table-wrapper-scroll-y my-custom-scrollbar" id="music_content">
            <table class="table table-light">
                <tbody>
                    {% for i in song %}
                    <tr>
                        <td rowspan="2">{{i.순위}}</td>
                        <td><a href="https://www.genie.co.kr/detail/songInfo?xgnm={{i.링크}}" style="text-decoration: none; color:  black;">{{i.곡}}</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.genie.co.kr/detail/albumInfo?axnm={{i.앨범링크}}" style="text-decoration: none; color:  black;">{{i.아티스트}} & {{i.음원}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-xl-5" id="chat_content">
            <div id="chatbox"
            style=height:450px;padding:10px;background-color:darkgray;overflow-y:scroll;overflow-x:hidden;max-height:100vh;">
        </div>
        <div class="chatfooter">
            <table width="100%">
                <tr>
                    <td width="90%">
                        <input id="chattext" style="padding:5px 0;width:100%;border:solid 1px black;" placeholder="내용을 입력해주세요">
                    </td>
                    <td width="10%">
                        <button type="button" class="btn btn-primary" id="sendbtn">SEND</button>
                    </td>
                </tr>
            </table>
        </div>
        </div>
       
        <div id="list">
            <a href="https://www.genie.co.kr/chart/top200" class="btn btn-primary" style="width: 50%;">더보기</a>
        </div>
</div>
<hr>
{%endblock%}

<!-- 푸터공간 -->
{% block footer %}
    {%include 'footer.html' %}
{% endblock %}