{%extends "base.html"%}

<!-- 헤더 공간 -->
{% block header%}
    {% include 'header.html'%}
    <hr>
{% endblock %}

{%block content%}
<!-- Content -->
<div class="row mt-5">
        <div class="col-6 table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-light">
                <tbody>
                    {% for i in song %}
                    <tr>
                        <td rowspan="2">{{i.순위}}</td>
                        <td>{{i.곡}}</td>
                    </tr>
                    <tr>
                        <td>{{i.아티스트}} & {{i.음원}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>챗봇 공간</h2>
        </div>
</div>
<hr>
{%endblock%}

<!-- 푸터공간 -->
{% block footer %}
    {%include 'footer.html' %}
{% endblock %}