{%extends "base.html"%}

<!-- 헤더 공간 -->
{% block header%}
    {% include 'ad_header.html'%}
    <hr>
{% endblock %}

{%block content%}
<!-- Content -->
<div class="row mt-5">
    <div class="col-4">
        <h3>대충 그래프 표시</h3>
    </div>
    <div class="col-7">
        <table class="table table-borderless">   
              <tr>
                <td>사용자 데이터 - 0개</td>
                <td><a href="{%url 'cb_admin:data'%}" class="btn btn-primary">데이터 상세보기</a></td>
                <td></td>
                <td></td>
              </tr>         
              <tr>
                <td><p id="r_data">학습된 데이터 - {{learn_data}}개</p></td>
                <!-- <td><a href="{% url 'cb_admin:req'%}" class="btn btn-primary">응답 상세보기</a></td> -->
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>미학습 데이터 - 0개</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <!-- <form action="{% url 'cb_admin:main'%}" method="POST">
                  {% csrf_token %} -->
                <td><input type="number" name="sel_data" id="sel_data" placeholder="횟수" style="width: 30%;">데이터 선택</td>
                <td></td>
                <td colspan="2" rowspan="2"><p id="n_data" style="display: none;"></p></td>
              </tr>
              <tr>
                <td><button type="button" class="btn btn-primary" style="width: 60%;" onclick="learning()">학습하기</button></td>
                
              </tr>
              <tr>
                  <td><button type="button" class="btn btn-primary" style="width: 50%;" onclick="learn_test()">테스트</button></td>
                  <td></td>
                  <td><button type="button" class="btn btn-secondary btn_res" style="width: 100%; display: none;" onclick="btn_cancel()">Cancel</button></td>
                  <td><button type="submit" class="btn btn-primary btn_res" style="width: 100%; display: none;" onclick="btn_ok(1)">OK</button></td>
                <!-- </form> -->
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2"><p id="test_res" style="display: none;"></p></td>
                </tr>
                <tr>
                  <td colspan="2"><button type="button" class="btn btn-primary" style="width: 50%; display: none;" id="test_btn" onclick="btn_ok(2)">OK</button></td>
                </tr>
            </table>
    </div>
</div>
{%endblock%}
